MirrorDemo/Library/
MirrorDemo/Temp/
MirrorDemo/UserSettings/
MirrorDemo/Logs/
MirrorDemo/kcp2k.csproj
MirrorDemo/Mirror.Authenticators.csproj
MirrorDemo/Mirror.CompilerSymbols.csproj
MirrorDemo/Mirror.Components.csproj
MirrorDemo/Mirror.csproj
MirrorDemo/Mirror.Editor.csproj
MirrorDemo/Mirror.Examples.csproj
MirrorDemo/Mirror.Transports.csproj
MirrorDemo/MirrorDemo.sln
MirrorDemo/SimpleWebTransport.csproj
MirrorDemo/Telepathy.csproj
MirrorDemo/Unity.Mirror.CodeGen.csproj
MirrorDemo/.vscode/
MirrorDemo/obj/
NetCodeDemo/.vscode/
NetCodeDemo/Library/
NetCodeDemo/Logs/
NetCodeDemo/Temp/
NetCodeDemo/UserSettings/
MirrorDemo/.vs/
MirrorDemo/.vsconfig
MirrorDemo/spine-csharp.csproj
MirrorDemo/spine-unity.csproj
MirrorDemo/spine-unity-editor.csproj
MirrorDemo/Build/
MirrorDemo/NewAssembly.csproj
